html {
    height: 90%;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    color: #595a59;
    font-family: "Helvetica", sans-serif;
    font-weight: lighter;
    font-size: 0.9rem;
}

.container {
    position: relative;
}

.wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform: translate(-50%, -10%);
    -webkit-transform: translate(-50%, 10%);

}

a {
    color: #5fa4ea;
}